/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Mukta:wght@200;300;400;500;600&display=swap');

*{
    margin:0 ;
    padding: 0;
    font-family: dosis , mukta ,sans-serif ;
    
}
/* header css start */
.header{
    height: 80px ;
    background-color: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.header a img{
    width: 70px;
    height: 60px;
}
 .header .navber a{
     text-decoration: none;
     color: white;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 900;
     margin: 0px 4px;
     transition: 0.3s linear all;
 }

 .header .navber a:hover{
     color: #d67943;
     border-bottom: 1px solid #e0773a;
 }
 .header .icons .icon-button{
     color: white;
     margin: 0px 10px;
     transition: 0.4s linear all;
 }

 .header .icons .icon-button:hover{
    color: #d67943;
 }
 /* header css end */

 /* banner css start */
 .banner{
     height: 100vh;
     width: 100vw;
     background: url("./images/home-img.jpeg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     padding: 0px 40px;
 }
 .banner h1 {
     color: white;
     font-size: 50px;
 }
 .banner p{
     color: white;
 }
 .banner button{
     margin-top: 10px;
     padding: 10px 40px;
     background-color: yellow;
     font-weight: 700;
     outline: 0;
     border: 1px solid yellow;
     cursor: pointer;
     transition: 0.5s linear all;
 }
 .banner button:hover{
     letter-spacing: 2px;
     color: #fff;
     background-color: tomato;
     border: 1px solid tomato;
 }
 
 /* banner css end */
 
 /* About Us Start */

  .about-us{
     width: 100vw;
     height: 600px;
     background-color: #000;
     padding-top: 30px;
     padding: 0px 40px;

  }

  .about-us h1{
      color: wheat;
      text-align: center;
  }

 /* About Us End */



 
 